.contacts__header {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

.contacts__email {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
}

.contacts__address {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
}
