.madeby__description {
  font-size: 19px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
