@media (min-width: $tablet-width) {
  .main-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
