.offer__header {
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

.offer__status {
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-light-green;
}

.offer__description {
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
}
