.offer {
  margin: 0 30px;
}

.offer__header {
  padding: 27px 0 5px 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

.offer__status {
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-light-green;
  text-transform: uppercase;
}

.offer__description {
  margin: 0px;
  padding-top: 23px;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
}

.offer__stats {
  padding-top: 25px;
}

.offer__stats-row {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.offer__stats-column {
  padding: 10px 0 10px 0;
}

.offer__stats-column--right {
  padding: 0 0 0 25px;
}

.offer__price {
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-grey-dark;
}

@media (min-width: $tablet-width) {
  .offer__header {
    font-size: 43px;
    line-height: 50px;
  }

  .offer__status {
    line-height: 17px;
  }

  .offer__description {
    font-size: 17px;
    line-height: 30px;
  }

  .offer__price {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .offer__header {
    font-size: 53px;
    line-height: 57px;
  }
}
