.page-about__header {
  font-size: 27px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

.page-about__element {
  font-size: 19px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-white;
}

@media (min-width: $tablet-width) {
  .page-about__header {
    font-size: 43px;
    line-height: 50px;
  }

  .page-about__element {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-about__header {
    font-size: 53px;
    line-height: 57px;
  }
}
