.site-info__header {
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

.site-info__element {
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .site-info__header {
    font-size: 43px;
    line-height: 50px;
  }

  .site-info__element {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .site-info__header {
    font-size: 53px;
    line-height: 57px;
  }
}
