$color-light-green: rgb(99, 209, 187);
$color-dark-grey: rgb(86, 195, 178);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey-light: rgb(241, 241, 241);
$color-grey-dark: rgb(68, 68, 68);

$tablet-width: 768px;
$desktop-width: 1248px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
